<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <meta charset="UTF-8" />
        <title>KuvaSivusto</title>
    </head>
    <body>
        <h1>Selaa kuvia</h1>
        <header th:replace="fragments/header :: header">
            <p>links</p>
        </header>
        <h2>Kuvia (<span th:text="${count}">count</span> images)</h2>

        <div th:if="${previous != null}">
            <a th:href="@{/pictures/{id}(id=${previous})}">Edellinen</a>
        </div>

        <div th:if="${next != null}">
            <a th:href="@{/pictures/{id}(id=${next})}">Seuraava</a>
        </div>
        
        <div th:if="${current != null}">
            <img th:src="@{/pictures/{id}/content(id=${current})}"/>
        </div>
        <!-- div if voted-->
        <div th:if="${current != null}">
        <a th:href="@{/voteplus/{id}(id=${current})}">Äänestä + </a> <span th:text="${upvotes}">votes</span>
        <a th:href="@{/voteminus/{id}(id=${current})}">Äänestä - </a> <span th:text="${downvotes}">votes</span>
        </div>
        <!-- div if voted-->
        <div th:if="${current != null}">
                 <form th:action="@{/comments/{id}(id=${current})}" method="POST">
            <p>Title: <input name="title"></input></p>
            <p>Content: <textarea name="content"></textarea></p>
            <input type="submit" value="Add"></input>
        </form>
        </div>
        <div th:if="${current != null}">
         <ul>
            <li th:each="comment : ${comments}">
                <span th:text="${comment.getTitle()}">title</span>
                <pre th:utext="${comment.getContent()}">content</pre>
            </li>
        </ul>
        </div>

        
        
    </body>
</html>
