<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
    <head lang="en">
        <meta charset="UTF-8" />
        <title>KuvaSivusto</title>
        <!-- Bootstrap -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" 
              rel="stylesheet" 
              integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" 
              crossorigin="anonymous"/>
    </head>
    <body>
        <h1>Selaa kuvia</h1>
        <header th:replace="fragments/header :: header">
            <p>links</p>
        </header>
        <h2>Kuvia (<span th:text="${count}">count</span> images)</h2>

        <div th:if="${previous != null}">
            <a th:href="@{/pictures/{id}(id=${previous})}">Edellinen</a>
        </div>

        <div th:if="${next != null}">
            <a th:href="@{/pictures/{id}(id=${next})}">Seuraava</a>
        </div>
        
        <div th:if="${current != null}">
            <img th:src="@{/pictures/{id}/content(id=${current})}"/>
        </div>
        <!-- div if voted-->
        <div th:if="${current != null}">
        <a th:href="@{/voteplus/{id}(id=${current})}">Äänestä + </a> <span th:text="${upvotes}">votes</span>
        <a th:href="@{/voteminus/{id}(id=${current})}">Äänestä - </a> <span th:text="${downvotes}">votes</span>
        </div>
        <!-- div if voted-->
        <div th:if="${current != null}">
        <form th:action="@{/comments/{id}(id=${current})}" method="POST">
            <p>Title: <input name="title"></input></p>
            <p>Content: <textarea name="content"></textarea></p>
            <input type="submit" value="Add"></input>
        </form>
        </div>
        <div th:if="${current != null}">
         <ul>
            <li th:each="comment : ${comments}">
                <span th:text="${comment.getTitle()}">title</span>
                <pre th:utext="${comment.getContent()}">content</pre>
            </li>
        </ul>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" 
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" 
                crossorigin="anonymous">
        </script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" 
                integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" 
                crossorigin="anonymous">
        </script> 
    </body>
</html>
